@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ color-scheme: light; }
html,body,#root{ height:100% }
body{ font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }

.btn-shiny { background-image: linear-gradient(90deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.35) 50%, rgba(255,255,255,0.15) 100%); background-size: 200% 100%; }
